<div role="main" class="main dashboard">
  <div class="container-fluid">
    <div class="row" style="height: 100vh">
      <!-- side nav -->
      <div class="col-2 py-3 bg-light">
        <div class="logo my-4 ml-4 pb-3">
          <img
            src="assets/img/controls/logo-dashboard.svg"
            width="150"
            alt=""
          />
        </div>
        <ul class="nav flex-column">
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
              style="background: var(--dashboard-bg);"
            >
              <img
                src="assets/img/controls/windows.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
            >
              <img
                src="assets/img/controls/sales-booking.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link" href="#">Bookings</a>
            </li>
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
            >
              <img
                src="assets/img/controls/make-orders.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link" href="#">Orders</a>
            </li>
  
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
            >
              <img
                src="assets/img/controls/locate.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link" href="#">Track orders</a>
            </li>
  
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
            >
              <img
                src="assets/img/controls/ionic-ios-card.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link" href="#">Cards</a>
            </li>
  
            <li
              class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 "
            >
              <img
                src="assets/img/controls/information-1.svg"
                class="d-block"
                alt=""
              />
              <a class="nav-link" href="#">help</a>
            </li>
        </ul>
      </div>

      <!-- main area -->
      <div class="col-10">
        <div class="container">
          <!-- top navigation -->
          <nav
            class="navbar navbar-expand-lg navbar-light d-flex  my-2 py-4 mb-2"
          >
            <a
              class="navbar-brand font-weight-bold flex-grow-1"
              style="font-size: 30px; color: var(--heading-text-color);"
              href="javascript:void(0)"
              >Drivers</a
            >
            <button
              hidden
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline my-2 my-lg-0 w-100">
                <input
                  class="form-control w-75 mr-sm-3"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <span class="btn  my-2 my-sm-0" type="submit">
                  <img
                    src="assets/img/controls/custom-notification-2.svg"
                    alt="Notification bell"
                  />
                </span>
              </form>
            </div>

            <div class="collapse navbar-collapse justify-content-end">
              <div class="d-flex flex-column px-3">
                <span
                  class="font-weight-bold"
                  style="color: var(--heading-text-color)"
                  >Joshua Osazuwa</span
                >
                <small class="text-right" style="line-height: 14px"
                  >Shipper</small
                >
              </div>
              <div>
                <img src="assets/img/controls/user-profile.svg" alt="" />
              </div>
            </div>
          </nav>

          <!--  show case area -->
          <!-- <div
                    class="row mx-auto rounded pt-4"
                    style="background: var(--brighter-blue)"
                  >
                    <div class="col-12 d-flex mx-auto">
                      <div
                        class=" ml-4 mr-3"
                        style="transform: translate(0, -25px) scale(1.2)"
                      >
                        <img
                          src="assets/img/controls/school-bus-1.png"
                          width="100"
                          alt=""
                        />
                      </div>
                      <div class=" flex-grow-1 d-flex flex-column text-white pl-4">
                        <span
                          class="font-weight-bold"
                          style="font-size: 2rem; line-height: 43px "
                          >Welcome</span
                        >
                        <span>
                          Your Dashboard at a glance
                        </span>
                      </div>
                      <div class=" text-center w-25">
                        <a
                          class="btn w-50 mx-2 my-2 border-0 get-quote-btn text-white"
                          style="border-color: transparent; background-color: var(--modified-orange); font-size: 1.3rem"
                          href=""
                        >
                          Book
                        </a>
                      </div>
                    </div>
                  </div> -->

          <!-- Summary  -->

          <!-- <div class="row mt-3 mb-4 mx-auto">
                    <div class="col-sm rounded bg-light mr-3 py-3 px-3">
                      <span class="small-title">Total earnings</span>
                      <h1 class="title font-weight-bold">
                        ₦ 194,000
                      </h1>
                    </div>
                    <div class="col-sm rounded bg-light mr-3 py-3 px-3">
                      <span class="small-title"> Total Trips</span>
                      <h1 class="title font-weight-bold">
                        230
                      </h1>
                    </div>
                    <div class="col-sm rounded bg-light mr-3 py-3 px-3">
                      <span class="small-title">Total Drivers</span>
                      <h1 class="title font-weight-bold">
                        5
                      </h1>
                    </div>
                    <div class="col-sm rounded bg-light py-3 px-3">
                      <span class="small-title">Vehicles</span>
                      <h1 class="title font-weight-bold">
                        4
                      </h1>
                    </div>
                  </div> -->

          <div class="row py-2 pl-4 mb-2">
            <button  (click)="addDriver()" class="btn btn-primary px-5">Add Driver</button>
          </div>

          <!--  Orders area -->
          <div class="row bg-light mx-auto rounded px-4">
            <div class="mb-1 py-2 w-100 d-flex">
              <span
                class="flex-grow-1 py-1 start"
                style="color: var(--modified-text-color); font-size: 1.3rem;"
                >Your Drivers</span
              >
              <span class="px-3 py-1">
                <small hidden class="options">View more </small>
              </span>
              <span class="px-3 py-1">
                <small hidden class="options">
                  <i class="fas fa-redo-alt mr-2"></i> Reload data
                </small>
              </span>
            </div>
            <table class="table">
              <thead class="thead-light">
                <tr class="px-2">
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    <input type="checkbox" />
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Full Name
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Reg. Date
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Driving XP
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Assigned Vehicle
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Status
                  </th>

                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  ></th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of [1, 2, 3, 4]; index as i">
                  <th scope="row"><input type="checkbox" /></th>
                  <td>John Boyega</td>
                  <td>19 Sept, 2020</td>
                  <td>12 years</td>
                  <td>KE 900 AAA</td>
                  <td class="p-2 ">
                    <small
                      [ngStyle]="{
                        'background-color':
                          i == 1 ? '#fad400' : 'var(--modified-success)'
                      }"
                      class="rounded p-1 text-white "
                      >{{ i == 1 ? "Enroute" : "Delivered" }}</small
                    >
                  </td>
                  <td class="position-relative">
                    <span
                      style="color: #1977f1"
                      class="dots position-absolute "
                    >
                      Edit
                    </span>
                  </td>

                  <td class="position-relative">
                    <span
                      style="color: #ff5E2E"
                      class="dots position-absolute "
                    >
                      Delete
                    </span>
                  </td>
                </tr>
                <!-- <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  hidden
  class="btn btn-primary target"
  data-toggle="modal"
  data-target="#exampleModal"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body more-padding">
        <h4 class="text-center" style="color: var(--heading-text-color);">
          Add Driver
        </h4>
        <h6 class="text-center mb-3" style="color: var(--modified-text-color);">
          Please enter correct details of your driver
        </h6>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label
                style="color: var(--darker-heading-text-color)"
                for="inputEmail4"
                >First Name</label
              >
              <input
                placeholder="Joshua"
                type="email"
                class="form-control"
                id="inputEmail4"
              />
            </div>
            <div class="form-group col-md-6">
              <label
                style="color: var(--darker-heading-text-color)"
                for="inputPassword4"
                >Last Name</label
              >
              <input
                placeholder="Osazuwa"
                type="password"
                class="form-control"
                id="inputPassword4"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label
                style="color: var(--darker-heading-text-color)"
                for="inputState"
                >Driving Experience</label
              >
              <select id="inputState" class="form-control">
                <option selected>123</option>
                <option>...</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label
                style="color: var(--darker-heading-text-color)"
                for="inputPassword4"
                >Assign Vehicle</label
              >
              <select id="inputState" class="form-control">
                <option selected>KE 900 AAA</option>
                <option>...</option>
              </select>
            </div>
          </div>

          <div
            class="d-flex w-100 justify-content-center align-items-center mt-4"
          >
            <button
              style="background: var(--heading-text-color);"
              type="submit"
              class="btn  px-5 mr-3 text-white"
            >
              Save
            </button>
            <button
              style="background: #DEDEDE;"
              type="submit"
              class="btn text-white"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer" hidden>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
