<app-topbar></app-topbar>
<div role="main" class="main">
  <section class="section section-concept section-no-border section-light pt-5 m-0 " id="section-concept" style="background-image: url(../../assets/img/control/home_bg.svg); background-repeat: no-repeat; background-position: top right; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;  ">
    <div class="container pt-lg-5 mt-lg-5">
      <div class="row align-items-center pt-lg-3 board">
        <div class="col-lg-12 mb-lg-5 ">
          <h1 class="font-weight-bold text-12 line-height-2 mb-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-center" style="color: #1774BA !important;" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">Privacy Policy
          </h1>

          <p class="custom-font-size-2 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" style="border: 1px solid #1774BA; color: #1774BA !important; border-radius: 10px; padding: 36px" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Thank you for accessing Go Direct. We respect the privacy of everyone who visits our Site and want to protect your personal information. As a result, we would like to inform you on the way we would use your personal data. We recommend you to please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your personal data in accordance with our website as well as the choices available to you regarding how you can access and update this information.
            <br><br>
            By submitting your personal data to us, you will be treated as having given your permission- where necessary and appropriate- for disclosures referred to in this policy.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            <b>Personal Information </b>
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Go Direct may collect personal information that is necessary for legitimate business purposes, which will be disclosed to you at the time of collection. We may also collect personal information from trusted third-party sources and engage third parties to collect personal information to assist us. Go Direct will use this information for the purposes for which it was collected.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Collection & Use of Personal Information
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Here are the types of information we gather.</p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Information You Give Us:
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            We receive and store any information you enter on our Site or give us in any other way.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Automatic Information:
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            We receive and store certain types of information whenever you interact with us. For example, like many websites, we use “cookies,” and we obtain certain types of information when your web browser accesses lidstores.com or advertisements and other content served by or on behalf of lidstores.com on other websites.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible appear-animation appear-animation-visible-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Mobile:
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            When you download or use apps created by us or our subsidiaries, we may receive information about your location and your mobile device, including a unique identifier for your device. We may use this information to provide you with location-based services, such as advertising, search results, and other personalized content. In the event that you don’t want us to have access to this information, most mobile devices allow you to turn off location services.

          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Information from Other Sources:</h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Examples of information we receive from other sources include updated delivery and address information from our carriers or other third parties, which we use to correct our records and deliver your next purchase or communication more easily; account information, purchase or redemption information, and page-view information from some merchants with which we operate co-branded businesses or for which we provide technical, fulfillment, advertising, or other services; search term and search result information from some searches conducted through the Web search features.
          </p>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            The information we get from you helps us personalize and continually improve your experience when using the Site. It may also be used both for marketing research purposes and customer relation management.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Usage Details</h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Data collected are for statistical purposes only and help us to:
            <br>
          <ul class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            <li>Process orders</li>
            <li>Deliver products and services</li>
            <li>Process payments and communicate with you about your orders, products, services and promotional offers/li>
            <li>Keep and update our database and your accounts with us</li>
            <li>Provide information regarding similar products or events </li>
            <li>Propose a unique and targeted navigation experience </li>
            <li>Contact Users for information verification purposes.</li>
            <li>Prevent and detect fraud and abuse on the Site</li>
          </ul>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            <br>
            <b>By completing an order or signing up, you agree to receive</b>
            <br>
          <ol class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            <li>emails associated with finalizing your order, which may contain relevant offers from third parties,</li>
            <li> emails asking you to review your purchase </li>
            <li>promotional emails, SMS and push notifications from us. You may unsubscribe from promotional emails via a link provided in each email. If you would like us to remove your personal information from our database, unsubscribe from emails and/or SMS, please email our Customer Service.
            </li>

          </ol>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Sharing Personal Information </h4>

          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Information about our Users is an important part of our business, and we are not in the business of selling it to others. We share User information only as described below and with our subsidiaries controls that either subject to this Privacy Policy or follow practices at least as protective as those described in this Privacy Policy.
          </p>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            <b>Affiliated Businesses We Do Not Control:</b>
            We work closely with affiliated businesses that arrange your access to our products, to fulfill its contractual obligations and to provide our products and services. You can tell when a third party is involved in your transactions, and we share customer information related to those transactions with that third party.
            <br><br>
            <b>Third-Party Service Providers:</b> We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data, sending marketing and communications related to our business, payment processing, and for other legitimate purposes permitted by applicable law or otherwise with your consent. They have access to personal information needed to perform their functions, but shall not use it for other purposes.
            <br><br>
            <b>Promotional Offers: </b>

            Sometimes we send offers to selected groups of our customers on behalf of other businesses. When we do this, we do not give that business your name and address.
            <br><br>
            <b>Business Transfers:</b>
            As we continue to develop our business, we might sell or buy stores, subsidiaries, or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Policy (unless, of course, the customer consents otherwise).
            <br><br>
            <b>Ours and Others’ Protection:</b> We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Terms and Conditions and other agreements; or protect rights, property, or safety of our company, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Notice.
            <br><br>
            <b>With Your Consent:</b> Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.
          </p>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Security of Personal Information</p>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.
            <br><br>
            We reveal only the last four digits of your credit card numbers when confirming an order. Of course, we transmit the entire credit card number to the appropriate credit card company during order processing.
            <br><br>
            It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Your Rights</h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            If you are concerned about your data, you have the right to request access to the personal data which we may hold or process about you. You have the right to require us to correct or update any inaccuracies in your data free of charge. At any stage you also have the right to ask us to stop using your personal data for direct marketing purposes. We will retain your information for as long as your account is active or as needed to provide you services, including a record of your transactions on our Site. If you wish to cancel your account or request that we no longer use your information to provide you services, please let us know.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Cookies</h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Cookies are unique identifiers that we transfer to your device to enable our systems to recognize your device and to provide features to make your navigation experience unique and ensure that you achieve your aim.<br><br>

            Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive. Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. The help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. The acceptance of cookies is not a requirement for visiting the Site. However, because cookies allow you to take advantage of some of our essential features, we recommend that you leave them turned on.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Third-Party Advertisers and Links to Other websites
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            Our Site includes third-party advertising and links to other websites. You are advised to verify the privacy practices of such other websites. We are not responsible for the manner of use or misuse of information made available by you at such other websites. We encourage you not to provide Personal Information, without assuring yourselves of the Privacy Policy Statement of other websites.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Notification of Changes
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            We however reserve the right to change or modify this Privacy Policy at any point of time. However, any information that is directly or indirectly related to your privacy would be updated in this section, so you are requested to visit the page regularly.
          </p>
          <h4 class="custom-font-size-3 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            Contact Information
          </h4>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
            If you have any questions or concerns related to this Privacy Policy, please contact us on hello@ godirect.app for clarification.
          </p>

        </div>

      </div>

    </div>

  </section>


</div>
<app-bottombar></app-bottombar>
