<app-topbar></app-topbar>

<div role="main" class="main" style=" background-color: #FAFAFA !important;">
  <section
    id="shipping"
    class="section section-angled bg-gray border-0 m-0  z-index-3 "
  >
    <div class=" pt-5 pb-1 pt-lg-4">
      <div class="row mb-5 pt-4 pt-lg-2">
        <div class="col-sm-12 d-md-none d-lg-none">
          <img
            src="assets/img/controls/smallscreen-shippers.png"
            class="img-fluid"
            alt="Screenshot 2"
          />
        </div>
        <div
          class="col-lg-4 pl-md-5 pt-lg-5 pt-md-1 col-sm-12 col-md-12  mt-lg-5 mt-md-3 pr-xl-5 mb-lg-0"
        >
          <h2
            class="font-weight-bold mb-5 pt-5 text-uppercase shipper"
            style=""
          >
            Shipper
          </h2>
          <!-- appear-animation   data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750" -->
          <p
            class="custom-font-size-1 text-4"
            style="color: var(--modified-text-color)"
          >
            Lorem ipsum dolor sit amet, consectetur ullam inventore nisi in
            voluptatum beatae
          </p>
          <p class="store-buttons mt-lg-5">
            <a
              class="btn w-50 border-0 get-quote-btn text-white"
              style="border-color: transparent; background-color: var(--modified-orange); font-weight: 400"
              href="/sign-up"
            >
              Sign up now
            </a>
          </p>
        </div>

        <div class="col-lg-8 col-md-8 d-sm-none d-md-block">
          <!-- appear-animation  data-appear-animation="fadeInUp"
            data-appear-animation-delay="600" -->
          <img
            src="assets/img/controls/woman-smiling.png"
            class="img-fluid"
            alt="Screenshot 2"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    id="intro2"
    class="section section-no-border  bg-gray pt-lg-2 pb-lg-1 m-0"
  >
    <div class="container pb-5 download">
      <div class="row mb-2 pb-lg-1 py-lg-1 counters">
        <div class="col-lg-6 text-center offset-lg-3">
          <h2
            class=" text-12 mb-2 appear-animation title text-uppercase"
            style="color: var(--heading-text-color);"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-duration="750"
            data-plugin-options="{'accY': -200}"
          >
            Benefits
          </h2>
          <p
            class="text-1rem text-color-default negative-ls-05 pt-1  mb-3 appear-animation"
            data-appear-animation="fadeInUpShorter"
            data-appear-animation-delay="500"
            data-appear-animation-duration="750"
          >
            Access features from one central dashboard
          </p>
        </div>
      </div>

      <div class="row pb-lg-5">
        <div
          class="d-flex col-sm col-lg-4 col-md-4 mb-4 appear-animation"
          data-appear-animation="fadeInUpShorter"
          data-appear-animation-delay="200"
          data-appear-animation-duration="750"
        >
          <div class="bg-color-dark-scale-2 box rounded p-3 text-center">
            <i class="icon platform mb-4 mt-3"></i>
            <h4 style="color: var(--heading-text-color);" class="text-4 mb-2">
              Monitor activity
            </h4>
            <p class="custom-text-color-1 text-3 color-inherit mb-3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Excepturi, quisquam, hic quasi maiores delectus autem corporis
              aliquam ipsam voluptatum dolore tenetur ipsa unde corrupti non
            </p>
          </div>
        </div>
        <div
          class="d-flex col-sm col-lg-4  col-md-4 mb-4 appear-animation"
          data-appear-animation="fadeInUpShorter"
          data-appear-animation-delay="400"
          data-appear-animation-duration="750"
        >
          <div class="bg-color-dark-scale-2 box rounded p-3 text-center">
            <i class="icon real-time  mb-4 mt-3"></i>
            <h4 style="color: var(--heading-text-color);" class="text-4 mb-2">
              Monitor activity
            </h4>
            <p class="custom-text-color-1 text-3 color-inherit mb-3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Excepturi, quisquam, hic quasi maiores delectus autem corporis
              aliquam ipsam voluptatum dolore tenetur ipsa unde corrupti non
            </p>
          </div>
        </div>
        <div
          class="d-flex col-sm col-lg-4  col-md-4 mb-4 appear-animation"
          data-appear-animation="fadeInUpShorter"
          data-appear-animation-delay="600"
          data-appear-animation-duration="750"
        >
          <div class="bg-color-dark-scale-2 box rounded p-3 text-center">
            <i class="icon h247 mb-4 mt-3"></i>
            <h4 style="color: var(--heading-text-color);" class="text-4 mb-2">
              Monitor activity
            </h4>
            <p class="custom-text-color-1 text-3 color-inherit mb-3">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Excepturi, quisquam, hic quasi maiores delectus autem corporis
              aliquam ipsam voluptatum dolore tenetur ipsa unde corrupti non
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="support"
    class="section section-angled bg-gray border-0 m-0 z-index-3 pt-1"
  >
    <div class="container pb-1 mb-2">
      <div class="row align-items-center mb-5 bg-orange" style="">
        <div class="col-lg-4 pr-xl-5 mb-5 mb-lg-0">
          <h4 class="text-9 mb-3 text-white">Track your order</h4>
          <p class="ls-0  fw-400 mb-5 text-white">
            Get real-time information on the whereabouts of your order at every
            point in time from pick up to delivery.
          </p>
        </div>
        <div class="col-lg-8 align-self-start cover-bg position-relative pt-3">
          <input
            type="text"
            placeholder="Enter Order ID"
            class="form-control cover-input modified-input"
          />
          <button
            class="btn btn-info w-25 text-white cover-send-btn position-absolute"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<app-bottombar></app-bottombar>
