<app-topbar></app-topbar>
<div role="main" class="main">
  <section class="section section-concept section-no-border section-light pt-5 m-0 " id="section-concept" style="background-image: url(../../assets/img/control/home_bg.svg); background-size: 150% 100%; background-position: top; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;  min-height: 500px;">
    <div class="container pt-lg-5 mt-lg-5">
      <div class="row align-items-center pt-lg-3 board">
        <div class="col-lg-12 mb-lg-5">
          <h1 class="font-weight-bold text-12 line-height-2 mb-lg-3 appear-animation appear-animation-visible text-center about-heading" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">About Go Direct
          </h1>
          <p class="custom-font-size-2 appear-animation appear-animation-visible text-dark" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">

            GO Direct App Limited (Gas & Oil Direct) is a tech-enhanced service provider (Online Platform) founded by Travis Commodity Trading Company Limited and Innovate One Company Limited.
            <br><br>
            GO Direct has a unique methodology and technology-driven business that is created to solve and take advantage of the gaps in the market space, by redefining the diesel and gas (LPG) direct delivery business and services.
            <br><br>
            Designed and developed to be a solution to the need for home and corporate delivery of Diesel and LPG, by connecting buyers to sellers in-app. Where the transaction process is facilitated, transparent and simplified from order entry to delivery.
            <br><br>
            An aggregator that searches, profiles and analyzes price trends and market conditions in order to offer all customers the best prices, quality guaranteed products, efficient delivery services and customer focus support & feedback management services.
            <br><br>
            Address: Ankara Towers, Block B Unit 4. No.3 Force Road Tafawa Balewa Square, Onikan Lagos.
            <br><br>
            Contact: +234 (0) 00 0000 0000
          </p>

        </div>

      </div>

    </div>

  </section>


</div>

<app-bottombar></app-bottombar>
