<div role="main" class="main" style="">
  <section
    style="height: 100vh;"
    class=" section-angled  border-0 m-0  z-index-3"
  >
    <div class="row ">
      <div
        class="col-md-6 d-flex flex-column justify-content-between py-5 px-5"
        style="height: 100vh; background-color: var(--brighter-blue); clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);"
      >
        <div class="mb-5">
          <img
            alt="Porto"
            width="190"
            height="auto"
            data-sticky-width="82"
            data-sticky-height="36"
            data-sticky-top="0"
            src="assets/img/controls/logo.svg"
          />
        </div>

        <div class="text-center px-5 py-2" style="height: 400px; width: 100%;">
          <h4
            class="text-white text-center text-capitalize mb-3 "
            style=" letter-spacing: 1px;"
          >
            Don’t have an account?
          </h4>
          <p class="text-white mb-5 px-5">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero
          </p>
          <button type="submit" class="btn btn-outline-light w-50 text-center">
            Sign up
          </button>
        </div>
      </div>
      <div
        class="col-md-6  d-flex flex-column justify-content-center align-items-center"
        style=" height: 100vh;"
      >
        <h4 class="text-dark">Login</h4>
        <p class="text-center">
          <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, </span>
          <br />
          <span>
            sed diam nonumy eirmod tempor invidunt ut labore et dolore
          </span>
        </p>
        <form class="w-50">
          <div class="form-group">
            <label for="inputAddress">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputAddress"
              placeholder="joshua@ionec.com"
            />
          </div>

          <div class="form-group position-relative mb-0">
            <label for="inputAddress">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputAddress"
              placeholder="joshua@ionec.com"
            />
            <span class="text-dark text-center position-absolute hideOrShow">
              <i class="fas fa-eye-slash"></i>
            </span>
          </div>

          <div class="">
            <div class=" text-primary"><small>Forgot password</small></div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Sign in
          </button>
        </form>

        <div
          class="d-flex w-100 justify-content-center align-items-center my-3"
        >
          <div class="px-3"><small>or login using</small></div>
        </div>

        <div class="d-flex w-50">
          <div
            class="flex-fill d-flex align-items-center justify-content-center mr-2 border py-2"
          >
            <img src="assets/img/controls/google-search.png" alt="" />
          </div>
          <div
            class="flex-fill d-flex align-items-center justify-content-center mr-2 border py-2"
          >
            <img src="assets/img/controls/facebook.png" alt="" />
          </div>
          <div
            class="flex-fill d-flex align-items-center justify-content-center mr-2 border py-2"
          >
            <img src="assets/img/controls/twitter.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
