<app-topbar></app-topbar>
	<div role="main" class="main" style=" background-color: #FAFAFA !important;">

		<section class="section section-concept section-no-border section-light pt-5 m-0" id="section-concept" style=" background-color: #008BCC !important">
			<div class="container pt-5 mt-5" style="background: url(assets/img/controls/building.svg) top left no-repeat; background-size: auto;  animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards;  height: auto;">
				<div class="row align-items-center pt-3">
                        <div class="col-lg-6 col-sm-12 mb-5 mt-5 appear-animation phone d-lg-none" data-appear-animation="fadeIn" data-appear-animation-delay="1200" data-appear-animation-duration="750">
                            <img src="assets/img/controls/home_bus.png" class="img-fluid  appear-animation" alt="Screenshot 2" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                        </div>
                                <div class="col-lg-6 col-sm-12 mb-5 caption">
                                    <h1 class=" text-12 line-height-2 mb-3 appear-animation text-white" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">HAUL WITH US
                                    </h1>
                                    <p class="font-weight-bold custom-font-size-1 appear-animation text-white text-4" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
                                    Simplifying business process, one move at a time.
                                    </p>

                                    <p class="custom-font-size-1 appear-animation text-white text-4" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-appear-animation-duration="750">
                                    From moving to a new home, delivering of cargo & general movement of goods, hauleasy is committed to “making the move easy”</p>
                                    <p class="store-buttons mt-lg-5">
                                    <a class="btn btn-danger font-weight-bold border-0 get-quote-btn" style="" href="/get-quote">
                                        Get Quote
                                    </a>

                                </div>
					<div class="col-lg-6 col-sm-12 mb-5 appear-animation phone d-sm-none" data-appear-animation="fadeIn" data-appear-animation-delay="1200" data-appear-animation-duration="750">
						<img src="assets/img/controls/home_bus.png" class="img-fluid  appear-animation" alt="Screenshot 2" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
					</div>
					<div class="col-lg-4 offset-lg-4 text-center text-white">
            <a href="#intro" class="text-white d-sm-none" style="text-decoration: none">
                <i class="icon scroll mb-1 mt-4 mr-1"></i><br>
                Scroll Down
            </a>
					</div>
				</div>

			</div>

		</section>

		<section id="intro" class="section section-no-border  bg-gray pt-lg-5 pb-lg-5 m-0">
			<div class="container">
				<div class="row mb-lg-5 pb-lg-3 pt-lg-3 counters">
					<div class="col-lg-6 text-center offset-lg-3 about">
						<h2 class=" text-9 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}">
							<img src="assets/img/controls/about_heading.svg" class="img-fluid  appear-animation" alt="Screenshot 2" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                        </h2>
                        <p class="text-1rem text-color-default negative-ls-05 pt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">
						Hauleasy is a logistics and fulfilment company, in the business of moving and putting smiles on the faces of prospective shippers.  	</p>
					              <p class="text-1rem text-color-default negative-ls-05 pt-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">
						We are a team of dynamic thinkers & solution providers who have fused modern technology with industry best practice to ensure seamlessness of the logistics process. We operate innovation at the epicentre of our business process.
							</p>
					</div>
				</div>

			</div>
		</section>
		<section id="intro2" class="section section-no-border  bg-gray pt-lg-5 pb-lg-5 m-0">
			<div class="container pb-5 download">
				<div class="row mb-5 pb-lg-3 counters">
					<div class="col-lg-6 text-center offset-lg-3 stake">
						<h2 class=" title text-12 pt-3 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}">STAKEHOLDERS</h2>
						<p class="text-1rem text-color-default negative-ls-05 pt-2 pb-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">
				        Stakeholders involved in our daily operations
				        </p>
				        </div>
				</div>

				<div class="row pb-lg-5 stake-c">

                					<div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-light box rounded p-3">
                							<img src="assets/img/controls/stake1.png" class="img-fluid  mb-3" alt="STAKEHOLDERS 2">

                							<h4 class="text-8 mb-2 stake-title">Shipper</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">
                							Want to move goods, cargo or personal effects? Do so from the comfort of your home. Shipping with hauleasy is quick, seamless and reliable. </p>
                							<a href="/shippers" style="border-color: transparent;" class="btn btn-warning down-button">Learn More
                                            </a>
                						</div>
                					</div>



                					<div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-light box rounded p-3">
                							<img src="assets/img/controls/stake2.png" class="img-fluid  mb-3" alt="STAKEHOLDERS 2">

                							<h4 class="text-8 mb-2 stake-title">Driver</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">
                							Trucks and vans don’t drive themselves; people do. <br> Want to drive and earn? </p>
                							<button class="btn btn-danger down-button">Learn More
                							</button>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                            <div class="bg-color-light box rounded p-3">
                              <img src="assets/img/controls/stake4.png" class="img-fluid  mb-3" alt="STAKEHOLDERS 2">

                              <h4 class="text-8 mb-2 stake-title">Cooperate</h4>
                              <p class="custom-text-color-1 text-3 color-inherit mb-3">
                              Simplify your business process today, make hauleasy your preferred logistics partner.</p>
                              <button class="btn btn-danger down-button">Learn More
                              </button>
                            </div>
                          </div>

                					<div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-light box rounded p-3">
                							<img src="assets/img/controls/stake3.png" class="img-fluid  mb-3" alt="STAKEHOLDERS 2">

                							<h4 class="text-8 mb-2 stake-title">Partner</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">
                							Do you have trucks? Would you like to earn some money from them? Find out how. </p>
                							<button class="btn btn-danger down-button">Learn More
                							</button>
                						</div>
                					</div>




                				</div>






			</div>
		</section>
		<section id="intro2" class="section section-no-border  bg-gray pt-lg-5 pb-lg-5 m-0">
			<div class="container pb-5 download">
				<div class="row mb-5 pb-lg-3 counters">
					<div class="col-lg-6 text-center offset-lg-3">
						<h2 class=" text-12 mb-0 appear-animation title" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}">FEATURES</h2>
						<p class="text-1rem text-color-default negative-ls-05 pt-2 pb-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750">
				        A glimpse at features, we know you’ll love
				        </p>
				    </div>
				</div>

				<div class="row pb-lg-5">

                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon platform mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">Platform for everyone</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">We have employed a simple interactive design, to ensure that the platform is 100% user friendly and can be used by anyone. So, whether you’re an individual moving to a new home or a business moving cargo to another state, hauleasy works just fine for you. </p>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon real-time  mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">Real-time tracking</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">Hauleasy employs cutting edge tech that allows shippers track their haul at every point in time, from time of pick up all the way till they arrive their destination. </p>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon h247 mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">24/7 Support</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">To ensure quality service delivery, we offer premium support to customers & our support team is always on hand to attend to customers on service-related issues, via web calls, online chat, email support etc. we keep in touch to serve you better. </p>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon customer mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">100% Customer Satisfaction</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">We are a customer centric organization, with an immense commitment to customer satisfaction. At hauleasy we go the proverbial extra mile to “Make the Move easy” </p>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon verified mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">Verified truck drivers</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">On the hauleasy platform all drivers are highly trained & thoroughly vetted before they begin operations. Customers and shippers can rest easy knowing, their haul is in safe hands. </p>
                						</div>
                					</div>
                					<div class="d-flex col-sm-6 col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                						<div class="bg-color-dark-scale-2 box rounded p-3 text-center">
                							<i class="icon fast mb-4 mt-3"></i>
                							<h4 class="text-4 mb-2">Quick and Easy Payment</h4>
                							<p class="custom-text-color-1 text-3 color-inherit mb-3">Hauleasy lets you skip unnecessary steps and allows you make quick, easy and secure payments. With our escrow service, we keep shippers reassured of the safety of their transactions. </p>
                						</div>
                					</div>

                </div>





			</div>
		</section>
		<section id="support" class="section section-angled bg-orange border-0 m-0  z-index-3 pt-5">
            <div class="container pt-1 pb-1">

                <div class="row align-items-center mb-5 access">
                    <div class="col-lg-4 pr-xl-5 mb-5 mb-lg-0 mt-5">
                        <h2 class=" text-12 mb-1 text-white mac-title" style="line-height: 1.2;">ACCESS OUR WEB APP</h2>
                        <p class="ls-0  fw-400 mb-5 text-white mac-text">Enjoy the full bouquet of our services on the web. </p>

                    </div>
                    <div class="col-lg-6 offset-lg-2">
                        <img alt="Porto Support"

                         src="assets/img/controls/macbook-pro.png" class="img-fluid   ml-2 appear-animation macbook" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                    </div>
                </div>
            </div>
        </section>


        <section class="parallax section section-text-light section-parallax section-center mt-0 mb-0 bg-gray" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="assets/img/parallax/parallax-2.jpg">
            <div class="container">
            <div class="col-lg-6 text-center offset-lg-3">
                <h2 class="text-12 mb-0 appear-animation title" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="750" data-plugin-options="{'accY': -200}">WHAT THEY SAY</h2>
<!--                 <p class="text-1rem text-color-default negative-ls-05 pt-2 pb-4 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500" data-appear-animation-duration="750"> -->
<!--                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. -->
<!--                 </p> -->
            </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-9 offset-lg-1">
                        <div class="owl-carousel owl-theme nav-bottom" data-plugin-options="{'items': 1, 'loop': false,  'autoplay': true, 'margin': 100, 'nav': true, 'dots': true, 'stagePadding': 100, 'autoHeight': true}">
                            <div>
                                <div class=" row testimonial testimonial-style-2 testimonial-with-quotes mb-0">

                                    <div class="col-lg-4">
                                     <img src="assets/img/controls/testimonial-image.png" class="img-fluid" alt="" style="width: 200px">

                                    </div>
                                    <div class="col-lg-8">
                                        <p class="mb-3 text-dark text-left text-5">
                                        “Hauleasy made my life easy. <br>The thought of moving to a new home, new state was demanding, but Hauleasy took away the stress and was on time. Thanks to the team.”
                                        </p>
                                        <p class="mb-0 text-dark text-left font-weight-bold">Josh Osazuwa</p>
                                        <p class="mb-0 text-dark text-left">Lagos State</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class=" row testimonial testimonial-style-2 testimonial-with-quotes mb-0">

                                    <div class="col-lg-4">
                                     <img src="assets/img/controls/testimonial-image.png" class="img-fluid" alt="" style="width: 200px">

                                    </div>
                                    <div class="col-lg-8">
                                        <p class="mb-3 text-dark text-left text-5">
                                        “Hauleasy made my life easy. <br>The thought of moving to a new home, new state was demanding, but Hauleasy took away the stress and was on time. Thanks to the team.”
                                        </p>
                                        <p class="mb-0 text-dark text-left font-weight-bold">Josh Osazuwa</p>
                                        <p class="mb-0 text-dark text-left">Lagos State</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class=" row testimonial testimonial-style-2 testimonial-with-quotes mb-0">

                                    <div class="col-lg-4">
                                     <img src="assets/img/controls/testimonial-image.png" class="img-fluid" alt="" style="width: 200px">

                                    </div>
                                    <div class="col-lg-8">
                                        <p class="mb-3 text-dark text-left text-5">
                                        “Hauleasy made my life easy. <br>The thought of moving to a new home, new state was demanding, but Hauleasy took away the stress and was on time. Thanks to the team.”
                                        </p>
                                        <p class="mb-0 text-dark text-left font-weight-bold">Josh Osazuwa</p>
                                        <p class="mb-0 text-dark text-left">Lagos State</p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </section>
		<section id="intro3" class="section section-no-border  bg-gray pt-5 pb-5 m-0" id="faq">
			<div class="container pb-5">
				<div class="row mb-lg-5 pb-lg-3 counters">
				<div class="col-lg-4 offset-lg-4 text-center mb-lg-5">
                    <h2 class="text-12 mb-1 title">FAQ</h2>
<!--                     <p class="ls-0  fw-400 mb-lg-5 text-dark">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p> -->

                </div>

				</div>
				<div class="row">
                <div class="col-lg-6">
                   <div class="card mb-3">
                        <div class="card-header text-4 faq-title">
                             Can I really track my Haul?
                        </div>
                        <div class="card-body">
                            <p class="text-3 mb-0">Yes, you can, our platform makes use of GPS tracking technology, this allows shippers track their haul in Realtime. </p>
                        </div>
                    </div>
                  </div>
                   <div class="col-lg-6">
                      <div class="card mb-3">
                          <div class="card-header text-4 faq-title">
                               Do you require my Instagram password?
                          </div>
                          <div class="card-body">
                              <p class="text-3 mb-0">Unlike most other service providers out there, we do not require your password for our processes to work. This is because we do not manipulate your account and make sure that your data remains private, and away from prying eyes.</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header text-4 faq-title">
                                 How am I sure my goods won’t get damaged in transit?
                            </div>
                            <div class="card-body">
                                <p class="text-3 mb-0">We have a team of highly competent loaders, who employ sorting & placement techniques in line with industry best practice to ensure that goods and haul remain in the same conditions as when received. We also have a quality control team, who are primarily tasked with inspection of goods & consignments before they are cleared for take-off.  </p>
                            </div>
                        </div>
                     </div>
                     <div class="col-lg-6">

                        <div class="card mb-3">
                            <div class="card-header text-4 faq-title">
                                 What types of vehicles are available?
                            </div>
                            <div class="card-body">
                                <p class="text-3 mb-0">We have various classes of trucks available; shippers chose based on the estimated size of their cargo. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="card mb-3">
                            <div class="card-header text-4 faq-title">
                                 How am I sure my payment is safe?
                            </div>
                            <div class="card-body">
                                <p class="text-3 mb-0">The Hauleasy platform makes use of a unique escrow service that ensures secure online payments.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="card mb-3">
                            <div class="card-header text-4 faq-title">
                                 How safe is buying Instagram followers for our account?
                            </div>
                            <div class="card-body">
                                <p class="text-3 mb-0">Since we use real Instagram followers for your account, you are at no risk of being banned or facing other negative actions. We have had several instances of returning customers and they are extremely happy and secure with our services.</p>
                            </div>
                        </div>
					</div>

				</div>

			</div>
		</section>
		<section id="support" class="section section-angled bg-gray border-0 m-0  z-index-3 pt-5" id="track">
        <div class="container pb-5 mb-5">

            <div class="row align-items-center mb-5 bg-orange track" style="border-radius: 10px;">
                <div class="col-lg-5 pr-xl-5 mb-5 mb-lg-0">
                    <h4 class="text-9 mb-3 text-white">Track your order</h4>
                    <p class="ls-0  fw-400 mb-5 text-white">Get real-time information on the whereabouts of your order at every point in time from pick up to delivery. </p>

                </div>
                <div class="col-lg-6 offset-lg-1 mb-lg-5 cover-bg">
                    <input type="text" placeholder="Enter Order ID" class="form-control cover-input"/>
                    <button class="btn btn-info cover-send-btn">Send</button>
                 </div>
            </div>
        </div>
    </section>



	</div>

<app-bottombar></app-bottombar>
