<div role="main" class="main dashboard">
  <div class="container-fluid">
    <div class="row" style="height: 100vh">
      <!-- Side nav -->
      <div class="col-2 py-3 bg-light">
        <div class="logo my-4 ml-4 pb-3">
          <img
            src="assets/img/controls/logo-dashboard.svg"
            width="150"
            alt=""
          />
        </div>
        <ul class="nav flex-column">
          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
            style="background: var(--dashboard-bg);"
          >
            <img
              src="assets/img/controls/windows.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link active" href="#">Dashboard</a>
          </li>
          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
          >
            <img
              src="assets/img/controls/sales-booking.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link" href="#">Bookings</a>
          </li>
          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
          >
            <img
              src="assets/img/controls/make-orders.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link" href="#">Orders</a>
          </li>

          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
          >
            <img
              src="assets/img/controls/locate.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link" href="#">Track orders</a>
          </li>

          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 mb-2"
          >
            <img
              src="assets/img/controls/ionic-ios-card.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link" href="#">Cards</a>
          </li>

          <li
            class="nav-item py-1 px-2 d-flex flex-row justify-content-start rounded pl-4 "
          >
            <img
              src="assets/img/controls/information-1.svg"
              class="d-block"
              alt=""
            />
            <a class="nav-link" href="#">help</a>
          </li>
        </ul>
      </div>

      <!-- Main area -->
      <div class="col-10">
        <div class="container">

          <!-- top nav -->
          <nav
            class="navbar navbar-expand-lg navbar-light d-flex  my-2 py-4 mb-2"
          >
            <a
              class="navbar-brand font-weight-bold flex-grow-1"
              style="font-size: 30px; color: var(--heading-text-color);"
              href="javascript:void(0)"
              >Dashboard</a
            >
            <button
              hidden
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline my-2 my-lg-0 w-100">
                <input
                  class="form-control w-75 mr-sm-3"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <span class="btn  my-2 my-sm-0" type="submit">
                  <img
                    src="assets/img/controls/notifications-bell.svg"
                    alt="Notification bell"
                  />
                </span>
              </form>
            </div>

            <div class="collapse navbar-collapse justify-content-end">
              <div class="d-flex flex-column px-3">
                <span
                  class="font-weight-bold"
                  style="color: var(--heading-text-color)"
                  >Joshua Osazuwa</span
                >
                <small class="text-right" style="line-height: 14px"
                  >Shipper</small
                >
              </div>
              <div>
                <img src="assets/img/controls/user-profile.svg" alt="" />
              </div>
            </div>
          </nav>

          <!--  Show case -->

          <div
            class="row mx-auto rounded pt-4"
            style="background: var(--brighter-blue)"
          >
            <div class="col-12 d-flex mx-auto">
              <div
                class=" ml-4 mr-3 "
                style=""
              >
                <img
                  class="tweaked-img"
                  src="assets/img/controls/front_bus_2x.png"
                  width="150"
                  alt=""
                />
              </div>
              <div class=" flex-grow-1 d-flex flex-column text-white pl-4 tweaking">
                <span
                  class="font-weight-bold"
                  style="font-size: 2rem; line-height: 43px "
                  >Welcome</span
                >
                <span>
                  Your Dashboard at a glance
                </span>
              </div>
              <div class=" text-center w-25">
                <a
                  class="btn w-50 mx-2 my-2 border-0 get-quote-btn text-white"
                  style="border-color: transparent; background-color: var(--modified-orange); font-size: 1.3rem"
                  href=""
                >
                  Book
                </a>
              </div>
            </div>
          </div>

          <!-- Summary -->
          <div class="row mt-3 mb-4 mx-auto">
            <div class="col-sm rounded bg-light mr-3 py-3 px-3">
              <span class="small-title">Total earnings</span>
              <h1 class="title font-weight-bold">
                ₦ 194,000
              </h1>
            </div>
            <div class="col-sm rounded bg-light mr-3 py-3 px-3">
              <span class="small-title"> Total Trips</span>
              <h1 class="title font-weight-bold">
                230
              </h1>
            </div>
            <div class="col-sm rounded bg-light mr-3 py-3 px-3">
              <span class="small-title">Total Drivers</span>
              <h1 class="title font-weight-bold">
                5
              </h1>
            </div>
            <div class="col-sm rounded bg-light py-3 px-3">
              <span class="small-title">Vehicles</span>
              <h1 class="title font-weight-bold">
                4
              </h1>
            </div>
          </div>
         

          <!-- Recent orders  -->
          <div class="row bg-light mx-auto rounded px-4">
            <div class="mb-3 py-2 w-100 d-flex">
              <span
                class="flex-grow-1 px-3 py-1 start"
                style="color: var(--modified-text-color)"
                >Recent Orders</span
              >
              <span class="px-3 py-1"> <small class="options">View more </small> </span>
              <span class="px-3 py-1">
                <small class="options"> <i class="fas fa-redo-alt"></i> Reload data </small>
              </span>
            </div>
            <table class="table">
              <thead class="thead-light">
                <tr class="px-2">
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                  <input type="checkbox">
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Order ID
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Date
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Driver
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Vehicle
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Licence Plate
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Amount
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  >
                    Status
                  </th>
                  <th
                    scope="col"
                    style=" background: var(--dashboard-bg); border-color: transparent"
                  ></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of [1, 2, 3, 4, 5]; index as i">
                  <th scope="row"> <input type="checkbox"></th>
                  <td>54894</td>
                  <td>19 Sept, 2020</td>
                  <td>John Boyega</td>
                  <td>Pick Up Truck</td>
                  <td>KE 900 AAA</td>
                  <td>NGN 32,000</td>
                  <td class="p-2 ">
                    <small
                      style="background-color: var(--modified-success)"
                      class="rounded p-1 text-white "
                      >Delivered</small
                    >
                  </td>
                  <td class="position-relative">
                    <span class="dots position-absolute font-weight-bolder ">
                      . . .
                    </span>
                  </td>
                </tr>
                <!-- <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
