<footer
  id="footer"
  class="bg-color-dark-scale-2 border border-right-0 border-left-0 border-bottom-0 border-color-light-3 mt-0 mb-0 pt-5"
>
  <div class="container" style="padding-bottom: 5px !important;">
    <div class="row py-5 my-lg-4 border-top-dark footer">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <a href="index.html" class="goto-top">
          <img
            alt="Porto"
            width="190"
            height="auto"
            data-sticky-width="82"
            data-sticky-height="36"
            data-sticky-top="0"
            src="assets/img/controls/logo-footer.svg"
          />
        </a>

        <p class="pr-1 pt-5">
          14A Oba Elegushi Road, Ikoyi <br />
          Lagos, Nigeria. <br />
          enquiry@hauleasy.com <br />
          +234 81 0000 0000
        </p>
      </div>
      <div class="col-md-6 col-lg-8 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h5 class="text-3 mb-3">Resources</h5>
            <p style="margin: 0"><a href="/" class="footer-links">Home</a></p>
            <p style="margin: 0">
              <a href="/get-quote" class="footer-links">Get Quote</a>
            </p>
            <p style="margin: 0"><a href="#" class="footer-links">Log in</a></p>
            <p style="margin: 0">
              <a href="#" class="footer-links">Sign Up</a>
            </p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
            <div class="contact-details">
              <h5 class="text-3 mb-3">Work with Us</h5>
              <p style="margin: 0">
                <a href="#" class="footer-links">Become a Partner </a>
              </p>
              <p style="margin: 0">
                <a href="#" class="footer-links">Become a Driver</a>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h5 class="text-3 mb-3">Legal</h5>
            <p style="margin: 0">hello@godirect.app</p>
            <p style="margin: 0">
              <a href="#" class="footer-links">Terms of Use</a>
            </p>
            <p style="margin: 0">
              <a href="#" class="footer-links">Privacy Policy</a>
            </p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h5 class="text-3 mb-3">Social</h5>
            <p style="margin: 0">
              <a href="#" class="footer-links">Facebook</a>
            </p>
            <p style="margin: 0">
              <a href="#" class="footer-links">Twitter</a>
            </p>
            <p style="margin: 0">
              <a href="#" class="footer-links">Instagram</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 			<p class="pr-1 text-white sign" style="opacity: 0.5"><span>Designed by I-One-C Ltd and </span><span>Developed by NCK Technologies</span></p> -->
  </div>
</footer>
